
:root {
    --line-height: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#editor-container {
    position: relative;
}

.editor-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid #333;
    box-sizing: border-box;
    /* Font family is critical - it must be monospace */ 
    font-family: 'Courier New', monospace; 
    font-size: 16px;
    line-height: var(--line-height);
    /* break words exactly at the textarea right border, not before */
    word-break: break-all;     
    /* Hide scrollbars */
    overflow: hidden;
}

#textarea {
    z-index: 1;
    background: transparent;
    resize: none;
    outline: none;
}

/* Holds the remote cursors */
#overlay {
    /* Sits on top */
    z-index: 2; 
    /* Let clicks pass through to textarea */
    pointer-events: none;
}

/* Remote cursor (a vertical line) */
.remote-cursor {
    position: absolute;
    width: 2px;
    height: var(--line-height); 
    opacity: 0.8;
    transition: all 0.1s ease;
}

/* Name tag above the remote cursor */
.remote-cursor::after {
    position: absolute;
    content: attr(data-username);
    top: calc(0px - var(--line-height));
    left: 0;
    font-size: 12px;
    font-weight: bold;
    background-color: inherit;
    /* Makes it as wide as the username */
    white-space: nowrap;
    padding: 0 5px 0 5px;
}

