
:root {
    --line-height: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#editor-container {
    position: relative;
    width: 800px;
    height: 500px;
}

.editor-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border: 1px solid #333;
    box-sizing: border-box;
    
    /* CRITICAL: Enforce grid metrics */
    font-family: 'Courier New', monospace; 
    font-size: 16px;
    line-height: var(--line-height);
    word-break: break-all; /* break words exactly at the textarea right border, not before */
    overflow: auto;   /* Scrollbars */
}

textarea#input-area {
    z-index: 1;
    background: transparent;
    resize: none;
    outline: none;
}

/* 4. The Overlay: Holds the remote cursors */
#cursor-overlay {
    z-index: 2; /* Sits on top */
    pointer-events: none; /* Let clicks pass through to textarea */
    overflow: hidden; /* Hide scrollbars */
}

/* Remote cursor (a vertical line) */
.remote-cursor {
    position: absolute;
    width: 2px;
    height: var(--line-height); 
    opacity: 0.8;
    transition: all 0.1s ease;
}

/* Name tag above the remote cursor */
.remote-cursor::after {
    position: absolute;
    content: attr(data-username);
    top: calc(0px - var(--line-height));
    left: 0;
    font-size: 12px;
    font-weight: bold;
    background-color: inherit;
    /* Make it as wide as the username */
    white-space: nowrap;
    padding: 0 5px 0 5px;
}

