#window-icon {
    background-image: url("/static/media/folder.png");
}

#main {
    width: 788.125px;
    height: 500px;
    background-image: url("/static/media/explorer.png");
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#documents {
    position: absolute;
    left: 10px;
    top: 90px;
    width: 768px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 15px;
    grid-auto-rows: 80px;
    text-align: center;
}

#documents > a, #documents > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    font-size: 9pt;
    color: black;
    cursor: pointer;
}

.create-document-icon, .owned-document-icon, .shared-document-icon {
    margin-bottom: 5px;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.create-document-icon { background-image: url("/static/media/create.png"); }
.owned-document-icon { background-image: url("/static/media/owned.png"); }
.shared-document-icon { background-image: url("/static/media/shared.png"); }

#display-name {
    margin-top: 2px;
    margin-left: 4px;
    outline: none;
    border: none;
    background-color: inherit;
}

