#window-icon {
    background-image: url("/static/media/notepad.png");
}

.menu-bar-enabled { color: black !important; }
.menu-bar-enabled:hover { background-color: white; }

#main { position: relative; }

.editor-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* Font family is critical - it must be monospace */ 
    font-family: 'Courier New', monospace; 
    font-size: 12pt;
    line-height: var(--line-height);
    /* break words exactly at the textarea right border, not before */
    word-break: break-all; 
    /* break spaces (otherwise they are not properly rendered) */
    white-space: break-spaces;
    /* Only show vertical scroll bar */ 
    overflow-y: auto;
    overflow-x: hidden;
}

#textarea {
    z-index: 1;
    resize: none;
    outline: none;
}

/* Holds the remote cursors */
#overlay {
    /* Sits on top */
    z-index: 2;
    /* Let clicks pass through to textarea */
    pointer-events: none;
}

/* Remote cursor (a vertical line) */
.remote-cursor {
    position: absolute;
    width: 2px;
    height: var(--line-height); 
    opacity: 0.8;
    transition: all 0.1s ease;
}

/* Name tag above the remote cursor */
.remote-cursor::after {
    position: absolute;
    content: attr(data-username);
    top: calc(0px - var(--line-height));
    left: 0;
    font-size: 11pt;
    font-weight: bold;
    background-color: inherit;
    /* Makes it as wide as the username */
    white-space: nowrap;
    padding: 0 5px 0 5px;
    border: 1px solid #000000; 
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

#clippy {
    background-image: url("/static/media/clippy.png");
    width: 106px;
    height: 128px;
    position: absolute;
    right: 0px;
    bottom: -10px;
    z-index: 3;
    cursor: help; 
    opacity: 0.6;
}

#clippy:hover { opacity: 1; }

#clippy:hover::after {
    content: "Clippy would never spy on you...";
    position: absolute;
    top: -10px; 
    right: 5px;
    background-color: #FFFFE1; 
    border: 1px solid black;
    padding: 3px 5px;
    white-space: nowrap;
    z-index: 3;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); 
}
