<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collaborative text editor</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/document.css">
</head>
<body>
    <div id="window">
        <div id="status-bar">
            <div>
                <div id="window-icon" class="icon"></div>
                <span id="window-title"></span>
            </div>
            <div>
                <div id="minimize-icon" class="icon"></div>
                <div id="maximize-icon" class="icon"></div>
                <a href="/"><div id="close-icon" class="icon"></div></a>
            </div>
        </div>
        <div id="menu-bar">
            <span>File</span>
            <span>Edit</span>
            <span>Format</span>
            <span>View</span>
            <span id="menu-bar-share">Share</span>
            <span>Help</span>
        </div>
        <div id="main">
            <div id="overlay" class="editor-layer"></div>
            <textarea id="textarea" class="editor-layer" spellcheck="false"></textarea>
            <div id="clippy" class="icon"></div>
        </div>
        <div id="footer">
            <div>Last updated <span id="last-update-timestamp">{DD/MM/YY HH:MM:SS}</span> by <span id="last-update-username">{username}</span></div>
        </div>
    </div>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/document.js"></script>
</body>
</html>

