<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collaborative text editor</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id="window">
        <div id="status-bar">
            <div>
                <div id="window-icon" class="icon"></div>
                <span id="window-title">Local disk (C:)</span>
            </div>
            <div>
                <div id="minimize-icon" class="icon"></div>
                <div id="maximize-icon" class="icon"></div>
                <a href="/"><div id="close-icon" class="icon"></div></a>
            </div>
        </div>
        <div id="menu-bar">
            <span>File</span>
            <span>Edit</span>
            <span>Format</span>
            <span>View</span>
            <span>Share</span>
            <span>Help</span>
        </div>
        <div id="main">
            <div id="documents">
                <div id="create-document">
                    <div class="create-document-icon"></div>
                    <div>Create</div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div>Display name <input type="text" placeholder="..." id="display-name" maxlength="16"></div>
        </div>
    </div>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>

