<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collaborative text editor</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div id="notepad">
        <div id="notepad-status-bar">
            <div class="horizontal">
                <div id="notepad-icon" class="icon"></div>
                <span id="document-name">Index.txt</span>
            </div>
            <div class="horizontal">
                <div id="minimize-icon" class="icon"></div>
                <div id="maximize-icon" class="icon"></div>
                <a href="/"><div id="close-icon" class="icon"></div></a>
            </div>
        </div>
        <div id="notepad-menu-bar">
            <span>File</span>
            <span>Edit</span>
            <span>Format</span>
            <span>View</span>
            <span>Share</span>
            <span>Help</span>
        </div>
        <div id="documents">
            <a href="document.html">demo.txt</a>
        </div>
        <div id="notepad-footer">
            <div>Display name <input type="text" name="displayname" placeholder="antirez" id="displayname" maxlength="16"></div>
        </div>
    </div>
</body>
</html>

