<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collaborative text editor</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/note.css">
</head>
<body>
    <div id="window">
        <div id="status-bar">
            <div>
                <div id="window-icon" class="icon"></div>
                <span id="window-title"></span>
            </div>
            <div>
                <div id="minimize-icon" class="icon"></div>
                <div id="maximize-icon" class="icon"></div>
                <a href="/"><div id="close-icon" class="icon"></div></a>
            </div>
        </div>
        <div id="menu-bar">
            <span>File</span>
            <span>Edit</span>
            <span>Format</span>
            <span>View</span>
            <span>Help</span>
            <span id="menu-bar-share">Share</span>
            <span id="menu-bar-delete">Delete</span>
            <span id="menu-bar-rename">Rename</span>
        </div>
        <div id="main">
            <div id="overlay" class="editor-layer"></div>
            <textarea id="textarea" class="editor-layer" spellcheck="false"></textarea>
            <div id="ghost-textarea" class="editor-layer"></div>
            <div id="clippy" class="icon"></div>
        </div>
        <div id="footer">
            <div>
                Last updated <span class="footer-dynamic-text" id="last-update-timestamp"> - </span>
                by <span class="footer-dynamic-text" id="last-update-username"> - </span>
            </div>
        </div>
    </div>
    <script type="module" src="/static/js/note.js"></script>
</body>
</html>

